.navButton
{
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-text-fill: white;
    -fx-background-radius: 6;
}

.navButton:hover
{
    -fx-background-color: linear-gradient(to top left, rgba(231, 121, 170, 0.5), rgba(231, 121, 170, 0.5));
}

.navButtonActive
{
    -fx-background-color:  linear-gradient(to top left, #e19587, #e779aa) !important;
}


.closeButton
{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-text-fill: white;
    -fx-background-radius: 0 6 0 0;
    -fx-opacity: 0.7;
}

.closeButton:hover
{
    -fx-background-color: rgba(238, 54, 54, 0.62);
    -fx-opacity: 1;
}

.minimizeButton
{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-text-fill: white;
    -fx-background-radius: 0 0 0 6;
    -fx-opacity: 0.7;
}

.minimizeButton:hover
{
    -fx-background-color: rgba(238, 180, 54, 0.62);
    -fx-opacity: 1;
}

.launchButton
{
    -fx-background-color: #48c771;
}

.launchButton:hover
{
    -fx-background-color: #3cb460;
}

.launchButton:pressed
{
    -fx-translate-y: 0;
}

.defaultButton
{
    -fx-background-color: #b745ef;
}

.defaultButton:hover
{
    -fx-background-color: #9e3bce;
}

.dangerButton
{
    -fx-background-color: #ef4545;
}

.dangerButton:hover
{
    -fx-background-color: #ce3b3b;
}

.grayButton
{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.grayButton:hover
{
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.activatedButton
{
    -fx-background-color: rgba(121, 44, 157, 0.6) !important;
}

.activeButton
{
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-border-color: #9e3bce;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid;
}