@font-face {
    src: url('../fonts/Roboto-Black.ttf');
    src: url('../fonts/Roboto-BlackItalic.ttf');
    src: url('../fonts/Roboto-Medium.ttf');
}

.text
{
    -fx-text-fill: white;
}

.background
{
    -fx-background-radius: 70px;
    -fx-background-image: url("../../background.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.button .text
{

}

.text-area
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}


.text-area .scroll-bar:vertical
{
    -fx-background-color: transparent;
}

.text-area .scroll-bar:horizontal
{
    -fx-background-color: transparent;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent;
}

.text-area .scroll-bar > .increment-button,
.text-area .scroll-bar > .decrement-button {
    -fx-opacity: 0; /* Делаем стрелки невидимыми */
    -fx-padding: 0; /* Убираем отступы */
    -fx-start-margin: 0;
    -fx-end-margin: 0;
}

.text-area .scroll-bar:vertical .corner {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical .increment-button,
.text-area .scroll-bar:vertical .decrement-button {
    -fx-padding: 0; /* Убираем отступы, чтобы кнопки не отображались */
    -fx-background-color: transparent; /* Делаем фон кнопок прозрачным */
    -fx-shape: '';
}

/* Убрать горизонтальные стрелки (если нужно) */
.text-area .scroll-bar:horizontal .increment-button,
.text-area .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: '';
}