.slider .track
{
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.slider .thumb {
    -fx-background-color: #bf25ec;
}


.text-field
{
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.check-box {
    -fx-text-fill: #ffffff;
}

/* Стиль для состояния наведения курсора */
.check-box:hover .box {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.check-box .box {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

/* Стиль для выбранного CheckBox */
.check-box:selected .box {
    -fx-background-color: #bf25ec;
}

.check-box .box > .mark {
    -fx-shape: "M 502.915 121.666 L 448.236 66.98 C 436.135 54.865 416.412 54.906 404.281 67.042 L 208.555 262.771 L 107.638 161.854 C 95.547 149.763 75.87 149.783 63.769 161.874 L 9.085 216.56 C 3.239 222.4 0.016 230.178 0 238.464 C -0.01 246.773 3.209 254.573 9.064 260.428 L 199.688 451.047 C 202.107 453.466 205.412 454.433 208.555 453.967 C 209.066 454.043 209.577 454.084 210.093 454.084 C 212.745 454.084 215.397 453.072 217.422 451.047 L 502.855 165.62 C 508.741 159.735 511.99 151.93 512 143.636 C 512.015 135.334 508.786 127.53 502.915 121.666 Z M 488.198 150.958 L 208.555 430.6 L 350 296 C 21.788 243.838 89 152 20.73 238.498 C 38 240 21.808 233.154 5 240 L 177 352 C 243 396 83.081 173.514 33 255 C 88.35 173.514 196 280 79 258 L 201.227 284.755 C 205.114 288.642 214 303 259 393 L 498 145 C 422.992 77.658 429.556 77.608 416 100 L 488.26 136.327 C 490.208 138.27 491.276 140.856 491.271 143.605 C 491.265 146.369 490.177 148.98 488.198 150.958 Z";
}


.check-box:hover .box > .mark {
    -fx-background-color: transparent; /* Замените на желаемый цвет галочки при наведении */
}

.check-box:selected .box > .mark {
    -fx-background-color: white;
}